@import "tailwindcss";

/* Скрываем скроллбар для красоты, но оставляем прокрутку */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer utilities {
  .animate-slide-down {
    animation: slide-down 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .delay-75 {
    animation-delay: 75ms;
  }
  .delay-150 {
    animation-delay: 150ms;
  }
}

@keyframes slide-down {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

